@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner
{
    position: relative;
    background: url(banner.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: right;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.textBox h2
{
    color: white;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5em;
}
.textBox h4
{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2em;
}
.navbar-brand
{
    font-size: 2rem;
    font-weight: 600;
}
.nav-link
{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar
{
    padding: 20px 0;
}
header
{
    background-color: rgb(5, 0, 0) !important;
}

section
{
    height: auto;
    padding-bottom: 75px;
}
.titleStyle
{
    text-align: center;
    margin: 0 0 45px 0;
    padding: 50px 0 0 0;
    font-weight: 700;
    font-size: 42px;
}
.aboutSection
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.right h4
{
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600;
}
.right p
{
    font-size: 18px;
    font-weight: 400;
}
.left img
{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
#services
{
    background: #111;
}
.servicesHeader
{
    color: white;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 50px 0 0 0;
}
.serviceHeader h1
{
    font-weight: 700;
    font-size: 42px;
}
.serviceHeader p
{
    font-weight: 400;
    font-size: 20px;
}
.card img
{
    width: 100px;
    margin: 0 auto;
    padding: 25px 0;   
}
.card
{
    margin: 25px;
    color: white;
    background-color: #222222;
    border-radius: 10px;
}
.workHeader
{
    color: white;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 50px 0 0 0;
}
.workHeader h1
{
    font-weight: 700;
    font-size: 42px;
}
.workHeader p
{
    font-weight: 400;
    font-size: 20px;
}
.workGallery
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.imgCard:hover
{
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
}
.buttonShadow:hover
{
    box-shadow: 0px 0px 20px 2px rgba(70, 70, 70, 0.5);
}
#testimonial
{
    background: #282828;
}
.testimonialHeader
{
    color: white;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 50px 0 0 0;
}
.testimonialHeader h1
{
    font-weight: 700;
    font-size: 42px;
}
.testimonialHeader p
{
    font-weight: 300;
    font-size: 20px;
}
.testimonialCard
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.testimonialRefer
{
    text-align: right;
}
#work
{
    background: #1A1A1D;
}
#contact
{
    background: #0B0C10;
}
.contactHeader
{
    color: white;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 50px 0 0 0;
}
.contactHeader h1
{
    font-weight: 700;
    font-size: 42px;
}
.contactHeader p
{
    font-weight: 300;
    font-size: 20px;
}
.nav-link:hover
{
    background: #E2E3E5;
    color: black !important;
    border-radius: 5px;
}
.nav-item
{
    padding: 3px;
}
.contactBox
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    justify-content: center;
    padding-top: 30px;
}
.footer
{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-bottom: 10px;
}
footer{
    background: #0B0C10;
}

@media screen and (max-width: 992px) {
    .aboutSection{
        grid-template-columns:  1fr;
    }
    .workGallery{
        grid-template-columns:  1fr;
    }
    .testimonialCard{
        grid-template-columns:  1fr;
    }
    .contactBox{
        grid-template-columns:  1fr;
    }
}